.container {
    padding: 10px;
    border-radius: 10px;
    /* background-color: var(--bgSoft); */
    gap: 10px;
    background-color: #7f8697;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.input {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}