.container {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.input {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}